<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.apurva.assignment.farmIotApp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity android:name=".MainActivity"
            android:label="FarmIoT Broadcast Receiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="Set Temperature and Humidity" android:name=".TempHumidityDataGatherer"/>
        <activity android:label="Show Fan and Sprinkler State" android:name=".FanSprinklerStateViewer"/>
    </application>

</manifest>
